* { background-image: url(".//images/grass.jpg");
    text-align: center; 
    background-attachment: fixed;
}
select{
    width: 200px;
    margin-right: 30px;
    padding: 20px;
    color: red;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    outline: thick solid red;

}
button{
    width: 200px;
    padding: 20px;
    color: red;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    outline: thick solid red;
}

h1{
        text-shadow: 2px 2px #2fbad3;
    }


h4{
    font-style: italic;
}

p{
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(0, 119, 255);
    box-shadow: 7px 7px 7px rgb(21, 147, 197);
}