* { background-image: url(images/grass.jpg);
    text-align: center; 
    background-attachment: fixed;
    font-family:cursive;
}
select{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 200px;
    margin-right: 30px;
    padding: 20px;
    color:  rgb(234, 0, 255);
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    outline: thick solid rgb(234, 0, 255);
    text-align: center;

}

option{
    text-align-last: center;
    margin: auto;
}
button{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 200px;
    padding: 20px;
    color:  rgb(234, 0, 255);
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    outline: thick solid rgb(234, 0, 255);
}

h1{
    padding-left: 30px;
        text-shadow: 2px 2px #2fbad3;
    }


h3{
    font-style: italic;
}

p{
    font-size: large;
    margin: auto;
    width: 800px;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid rgb(0, 119, 255);
    box-shadow: 7px 7px 7px rgb(21, 147, 197);
}

#p1{
    text-align: center;
}

button:hover{
    color: blue;
    outline-color: blue;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

select:hover{
    color: blue;
    outline-color: blue;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}